body{
    background-color: #EBE7D9;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 16px;
}
.container {
    width: 980px;
}

.navbar{
    background-color: #0F222D;
}

.logo{
    height: 100px;
}

.nav-item a{
    color: #EBE7D9;
    justify-content: space-between;
    
}

.line{
    width: 0px;
    height: 2px;
    background-color: #EBE7D9;
    visibility: hidden;
    transition: all .5s ease;
}

a:hover + .line{
    width: 100%;
    visibility: visible;
}

.menu {
    display: none;
}

@media screen and (max-width: 991.98px) { 

    .menu {
        
        display: block ;
        cursor: pointer;
        z-index: 2;

    }

    .collapse{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100vh;
        display: none;
        background-color: #0F222D;
        
    }

    .menuController{
        display: flex !important;
        

    }

    .navbar-nav{
        margin-left: auto;
        margin-right: auto;
    }

    .nav-item{
        margin-bottom: 15px;
        font-size: 24px;
    }

    .collapse.animationIn{
        
        animation: fadeInRight;
        animation-duration: 0.5s; 

    }  

 }

.login {
    background-color: white;
    width: 500px;
    height: 500px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    font-size: 25px;
    
}